<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>W5D3 Express/PG demo</title>
</head>

<body>
  <h1>Edit Project!</h1>

  <a href="/projects">&lt; Back</a>

  <form action="/projects/<%= project.id %>/edit" method="POST">
    <div>
      <label for="name">Name: </label>
      <input type="text" placeholder="Enter a new project name" id="name" name="name" value="<%= project.name %>" />
    </div>

    <input type="submit" value="Update Project" />
  </form>
</body>

</html>
